@import url('https://fonts.googleapis.com/css?family=Lato:700,900|Open+Sans:400,400i,700');
body {
    background-color: #231F20;
}

html,
body {
    width: 100%;
    height: 100%;
    animation: fadein .5s;
    -moz-animation: fadein .5s;
    /* Firefox */
    -webkit-animation: fadein .5s;
    /* Safari and Chrome */
    -o-animation: fadein .5s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 4em;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: .5em;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2.3em;
    margin-bottom: .5em;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.jumbotron-home {
    background-color: #312A2C;
    color: #fff;
    border-radius: 0;
    min-height: 49vh;
    background-image: url('../img/laptops-praxys.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

@media (max-width:767px) {
    .jumbotron-home {
        min-height: 69vh;
    }
}

.block {}

.block__intro {
    background-color: #231F20;
    color: fff;
}

.block__light {
    background-color: #fafafa;
    color: #231F20;
}

.block__footer {
    background-color: #312A2C;
    color: #fff;
}

.block__footer p {
    font-size: 1em;
}

.footer-2 {
    background-color: #42393B;
    color: #ACADAE;
}

.img-master {
    width: 100%;
    height: auto;
    -o-object-fit: fill;
    object-fit: fill;
    border-radius: 16px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    margin-top: -69px;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.img-master:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

@media (max-width:768px) {
    .img-master {
        margin-top: 30px;
    }
}

.btn {
    border-radius: 50em;
}

.btn-praxys {
    color: #fff;
    background-color: #EE6F36;
    border-color: #EE6F36;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.btn-praxys:hover {
    color: #fff;
    background-color: #f79468;
    border-color: #f79468;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.btn-orange {
    color: #fff;
    background-color: #EE6F36;
    border-color: #EE6F36;
}

.btn-orange:hover {
    color: #fff;
    background-color: #f79468;
    border-color: #f79468;
}

.dropdown-menu {
    padding: 0.5rem 0;
    margin: -0.125rem 0 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-color: #524549;
    background-clip: padding-box;
    border-radius: 0.25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 12px 1.5rem;
    clear: both;
    font-weight: normal;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #EE6F36;
    color: #fff;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #636c72;
    cursor: not-allowed;
    background-color: transparent;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #EE6F36;
}

.card {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    border-radius: 16px;
}

.card:hover {
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-radius: 16px 16px 0 0;
    -o-object-fit: fill;
    object-fit: fill;
}

.card-img-inactive {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.card-img-inactive:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.card-img-inactive img {
    height: 140px;
    background-color: #d8d8d8;
    border: 0 none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.text-orange {
    color: #EE6F36 !important;
}

a.text-orange:focus,
a.text-orange:hover {
    color: #EE6F36 !important;
}

.navbar-inverse .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 5px solid transparent;
}

.navbar-inverse .navbar-nav .nav-link:focus,
.navbar-inverse .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
    border-bottom: 5px solid #524549;
}

.navbar-inverse .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.navbar-inverse .navbar-nav .open>.nav-link,
.navbar-inverse .navbar-nav .active>.nav-link,
.navbar-inverse .navbar-nav .nav-link.open,
.navbar-inverse .navbar-nav .nav-link.active {
    border-bottom: 6px solid #EE6F36;
}

@media (max-width:767px) {
    ul.navbar-nav {
        padding-top: 1rem;
    }
    .navbar-inverse .navbar-nav .nav-link {
        color: rgba(255, 255, 255, 0.5);
        border-bottom: 5px solid transparent;
    }
    .navbar-inverse .navbar-nav .nav-link:focus,
    .navbar-inverse .navbar-nav .nav-link:hover {
        color: rgba(255, 255, 255, 0.75);
        border-bottom: 5px solid transparent;
    }
    .navbar-inverse .navbar-nav .nav-link.disabled {
        color: rgba(255, 255, 255, 0.25);
    }
    .navbar-inverse .navbar-nav .open>.nav-link,
    .navbar-inverse .navbar-nav .active>.nav-link,
    .navbar-inverse .navbar-nav .nav-link.open,
    .navbar-inverse .navbar-nav .nav-link.active {
        border-bottom: 6px solid transparent;
    }
}

.modal-app .modal-dialog {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 469px;
}

.modal-app .modal-content {
    border-radius: 0;
    border: 0;
    height: 100vh;
    width: 100%;
}

.modal-app .modal-body {
    padding: 0;
    overflow-y: auto;
}

@media (max-width:767px) {
    .modal-app .modal-dialog {
        width: 320px;
    }
}

.modal-app .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
}

.modal-app .modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.app-screenshots {
    overflow: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.app-screenshots img {
    background-color: #d8d8d8;
}
